<template name="score">
<div id="score">
  {{#with visit=visit}}
  <h2>Deine Auswertung</h2>
  <div class="text-center">
    <h2>{{visit.proPercent}}% pro</h2>
  </div>

  <hr>
  <img id="mybubbles-preview"/>
  {{>shareit shareData}}
  <hr>
	
  {{#if showCreateAccount}}
	<p>Wenn Sie ihre Antworten speichern möchten, erstellen sie jetzt einen Account oder loggen Sie sich mit Facebook ein.</p>
  {{/if}}

  <div class="text-center">
    <button type="button" id="gotoQuestions" class="btn btn-default">Zu den Fragen</button>
  </div>
  {{/with}}
</div>
</template>
