@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

article {
  margin-bottom: 3em;
  
  &.container-fluid {
    padding-top: 1rem;
  }
  
  &:not(.container-fluid) {
    a {
      img {
        -webkit-filter: grayscale(1);
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: url(#greyscale);
        filter: gray;
      }
      
      &:hover {
        img {
          -webkit-filter: none;
          -webkit-filter: none;
          filter: none;
          filter: none;
          filter: none;
        }
      }
    }
  }
  
  .date {
    font-size: 0.85em;
  }
  
  a .date {
    color: black;
  }
  
  h1 {
    margin: 0.75em 0 1em;
    font-size: 1.2em;
  }
  
  .content.masonry {
    max-height: 6.8em * 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  p {
    margin-bottom: 1em;
  }
  
  @media only screen and (min-width: @screen-sm-min) {
    font-size: 1.1em;
    
    h1 {
      font-size: 1.2em;
    }
    
    &.container-fluid {
      h1 { font-size: 1.3em; }
    }
  }
  
  @media only screen and (min-width: @screen-lg-min) {
    font-size: 1.2em;
    
    h1 {
      font-size: 1.3em;
    }
    
    &.container-fluid {
      h1 { font-size: 1.5em; }
    }
  }
}

.article-image {
  &:extend(.img-responsive);
  
  margin-bottom: 1em;
}