.news-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

article {
  margin-bottom: 3em;
  
  h1 {
    font-size: 1em;
  }
}

.article-image {
  &:extend(.img-responsive, .pull-left);
  
  padding: 0 1em 0 0;
}