<template name="cnc">
<div id="cnc" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Command & Control <i class="text-danger fa fa-warning"></i></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Misc</h2>
      <button id="deleteAndImportQuestions" class="btn btn-danger">
        Delete and import questions <i class="fa fa-trash"></i>
      </button>
      <button id="deleteAllUserData" class="btn btn-danger">
        Delete ALL user data <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Backup & Restore</h2>
			{{> appDumpUI}}
    </div>
  </div>
</div>
</template>
