<template name="cnc">
<div id="cnc" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Command & Control</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button id="deleteAllAnswers" class="btn btn-danger">
        Delete all answers <i class="fa fa-trash"></i>
      </button>
      <button id="deleteAllVisits" class="btn btn-danger">
        Delete all visits <i class="fa fa-trash"></i>
      </button>
      <button id="deleteAndImportQuestions" class="btn btn-danger">
        Delete and import questions <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>
</template>
