<template name="menu">
  <nav id="overlay-menu">
    <button type="button" class="close-menu">X</button>
    <ul>
      <li><a href="/pages/smartervote">Smartervote</a></li>
      <li><a href="/blog">Debattenblog</a></li>
      <li><a href="/pages/initiativtext">Initiativtext</a></li>
      <li><a href="/pages/infos-zum-grundeinkommen">Infos zum Grundeinkommen</a></li>
      <li><a href="/pages/veranstaltungen">Veranstaltungen</a></li>
      <li><a href="/pages/traegerschaft">Trägerschaft</a></li>
      <li><a href="/pages/kontakt">Kontakt</a></li>
      <li><a href="/pages/impressum">Impressum</a></li>
      <li><a href="/pages/spenden">Spenden</a></li>
    </ul>
  </nav>
</template>
