<template name="menu">
  <nav id="overlay-menu">
    {{> menuHeader}}
    <ul>
      <li><a href="/pages/medien">{{_ 'medien'}}</a></li>
      <li><a href="/smartervote" target="smartervote">{{_ 'smartervote'}}</a></li>
      <li><a href="/blog">{{_ 'debateBlog'}}</a></li>
      <li><a href="/pages/initiativtext">{{_ 'initiativtext'}}</a></li>
      <li><a href="/pages/infos-zum-grundeinkommen">{{_ 'infos-zum-grundeinkommen'}}</a></li>
      <li><a href="/pages/veranstaltungen">{{_ 'veranstaltungen'}}</a></li>
      <li><a href="/pages/traegerschaft">{{_ 'traegerschaft'}}</a></li>
      <li><a href="/pages/kontakt">{{_ 'kontakt'}}</a></li>
      <li><a href="/pages/impressum">{{_ 'impressum'}}</a></li>
      <li><a href="/pages/spenden">{{_ 'spenden'}}</a></li>
    </ul>
  </nav>
</template>
