<template name="menu">
  <nav id="overlay-menu">
    <button type="button" class="close-menu">X</button>
    <ul>
      <li><a href="#">Medien</a></li>
      <li><a href="#">Smartervote</a></li>
      <li><a href="#">Initiativtext</a></li>
      <li><a href="#">Infos zum Grundeinkommen</a></li>
      <li><a href="#">Veranstaltungen</a></li>
      <li><a href="#">Trägerschaft</a></li>
      <li><a href="#">Kontakt</a></li>
      <li><a href="#">Impressum</a></li>
      <li><a href="#">Spenden</a></li>
    </ul>
  </nav>
</template>