<template name="smartervoteAdmin">
<div id="smartervoteAdmin" class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Smartervote</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Visits of registered users</h2>
      <table class="table studyDesignTable">
        <thead>
          <tr>
            <th>email</th>
            <th>score</th>
            <th>updated at</th>
            <th>name</th>
            <th>published</th>
          </tr>
        </thead>
        <tbody>
          {{#each visits}}
            <tr>
              <td>
                {{email}}
              </td>
              <td>
                {{proPercent}}% pro
              </td>
              <td>
                {{dateSani updatedAt}}
              </td>
              <td>
                {{> xEditable nameEO}}
              </td>
              <td>
                {{#if isPublished}}
                  <button class="btn btn-success unpublish" title="unpublish">
                    <i class="fa fa-lg fa-toggle-on"></i>
                  </button>
                {{else}}
                  <button class="btn btn-success publish" title="publish">
                    <i class="fa fa-lg fa-toggle-off"></i>
                  </button>
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
</template>

