<template name="smartervote">
  <div id="smartervote">
    <div id="app-header">
      Logo  <button class="site-menu-toggle">Menü</button>
      {{> languageSwitcher}}
    </div>
    
    <div id="bubbles-container"></div>
    
    <div id="content">
      {{#if showEvaluation}}
        {{> evaluation}}
      {{else}}
        {{> question}}
      {{/if}}
    </div>

    <div id="score-gauge" style="bottom: {{proPercentGauge}}%">
      {{proPercent}}%
    </div>
  </div>
</template>

<template name="question">
  <div id="question">
    {{#with question=question}}
      <div id="header">
        <span id="question-index">{{index}}</span>
        <button type="button" id="toggle-favorite" class="btn"></button>
        <a id="show-all-questions" href="/questionOverview" target="_blank">{{_ "questionOverview"}}</a><br>
        
        <label for={{question._id}} class="control-label">
          {{{question.label}}}
        </label>
        {{#if question.info}}
          <div class="info">
            {{#if showInfo}}
            <div class="hideInfo">
              {{{question.info}}}
              <br><a href="#">{{_ "lessInformation"}}</a>
            </div>
            {{else}}
            <a href="#" class="showInfo">{{_ "moreInformation"}}</a>
            {{/if}}
          </div>
        {{/if}}
      </div>

      <div class="footer">
        <div class="answers control-section">
          <button type="button" class="max {{activeCSS true}} btn btn-default">
            <span>{{maxLabel}}</span>
            {{maxLabelAffix}}
          </button>
          <br>
          <button type="button" class="min {{activeCSS false}} btn btn-default">
            <span>{{minLabel}}</span>
            {{minLabelAffix}}
          </button>
        </div>
        {{> slider}}
        
        <div id="question-navigation" class="control-section">
          <button type="button" id="back" class="btn btn-default"><span>{{_ "back"}}</span></button>
          <button type="button" id="gotoEvaluation" class="btn btn-default">{{_ "evaluation"}}</button>
          <button type="button" id="next" class="btn btn-default"><span>{{_ "next"}}</span></button>
        </div>
        
        <button type="button" id="reset" class="btn btn-danger">{{_ "deleteAllAnswers"}}</button>
      </div>
    {{/with}}
  </div>
</template>

<template name="slider">
  <div class="at-nouislider control-section">
    <div class="nouislider-container">
      <span class="nouislider-label">{{_ "totalyIrrelevant"}}</span>
      <div id="nouislider" class="nouislider"></div>
      <span class="nouislider-label">{{_ "veryImportant"}}</span>
    </div>
  </div>
</template>


<template name="evaluation">
<div id="evaluation">
  <div id="question-navigation" class="control-section">
    <button type="button" id="gotoQuestions" class="btn btn-default">{{_ "gotoQuestions"}}</button>
  </div>
  
  <div class="final-score">
    {{_ "yourScore"}}<br>
    <span>{{proPercent}}% pro</span>
  </div>

  <div class="sharing">
    <!--
    <img id="mybubbles-preview"/>
    -->
    
    {{_ "shareYourScore"}}<br>
    {{>shareit shareData}}
    <a href="/myBubbles/{{visit._id}}" target='_blank'>link</a>
  </div>
	
  {{#if showCreateAccount}}
  <div class="text-center">
    <p>{{_ "createAccount"}}</p>
    {{> loginButtons}}
  </div>
  {{/if}}

  <div class="topics">
    {{_ "whereDoYouStand"}}<br>
    {{#each topics}}
    <button type="button" class="topic {{topicCSS}} btn btn-default">
      <span class="glyphicon glyphicon-ok"> </span>{{this}}
    </button>
    {{/each}}
  </div>
  
</div>
</template>
