<template name="smartervote">
  <div id="smartervote">
    <div id="app-header">
      <img src="/img/sv-logo-horizontal.svg" alt="smartervote">  <button type="button" class="site-menu-toggle">Menü</button>
      {{> languageSwitcher}}
    </div>
    
    <div id="bubbles-container"></div>
    
    <button type="button" id="mobile-content-toggle" class="mobile-content-toggle"><i class="fa fa-eye"></i></button>
    <div id="content">
      {{#if showEvaluation}}
        {{> evaluation}}
      {{else}}
        {{> question}}
      {{/if}}
    </div>

    <div id="score-gauge" style="bottom: {{proPercentGauge}}%">
      <span>{{proPercent}}%</span>
    </div>
    
    <div id="smartervote-modal" tabindex="-1" aria-role="dialog" aria-labelledby="modalLabel">
      <div class="smartervote-modal-header clearfix">
        <a href="#" class="toggle-about pull-right">Schliessen</a>
        <a href="#about" class="pull-left">About</a>
        <a href="#impressum" class="pull-left">Impressum</a>
        <a href="#daten-und-technisches" class="pull-left">Daten und Technisches</a>
        <a href="#alle-fragen-und-infos" class="pull-left">Alle Fragen und Infos</a>
      </div>
      {{#markdown}}
# About

Finde heraus, wie Du zum bedingungslosen Grundeinkommen stehst! 

Beantworte die Fragen zu den Auswirkungen des Grundeinkommens. Dadurch baust du dein persönliches differenziertes Bild zu dieser Grundlegenden Idee für die Zukunft der Schweiz. Smartervote ist keine Propaganda, sondern der Versuch, die Chancen und Gefahren des Grundeinkommens aufzuzeigen - damit du deine eigene Meinung (ab)bilden kannst. 

Danach kannst Du Dein Bild über Facebook, Twitter oder per Mail mit Freunden teilen. 

# Impressum

Idee & Konzept: Patrick Recher und Clara Vuillemin

Inhaltliche Umsetzung & Projektleitung: Clara Vuillemin

Technische Umsetzung: Patrick Recher

Design: By Heart

Umsetzung des Designs: Tobias Vogel

Grossen Dank an Daniel Straub und Christian Müller, dass sie dieses Projekt ermöglicht haben und für ihr wertvolles Feedback.

Kontakt: [bge@patpat.org](mailto:bge@patpat.org) (PGP ID: 417420A2)

# Daten und Technisches

Wir speichern sämtliche Antworten und Daten zu den Benutzerinteraktionen auf der Website. Zur Analyse des Surf-Verhaltens verwenden wir kein Google Analytics, sondern die open-source Lösung [PIWIK](http://piwik.org/).

Wir geben niemals personenbezogene Daten (IP-Adresse, e-mail etc.) an Dritte weiter.

Wir sind kein böser Datenpolyp und betrachten Daten nicht als Eigentum. Wenn du interessiert bist an den anonymisierten Daten, schreib uns an: [bge@patpat.org](mailto:bge@patpat.org) (PGP ID: 417420A2)

Der ganze Quellcode ist auf [Github](https://github.com/patte/bge/) verfügbar und steht unter der GNU General Public License.

Wir sind chronisch überlastet und deshalb noch bei Google gehostet. Wir sind im Prozess auf gemietete Server von [Exoscale](https://www.exoscale.ch/) umzusteigen. Wenn du gerade zu viel Zeit hast, dann darfst du uns gerne bei der Migration helfen.

# Alle Fragen und Infos
{{/markdown}}
			<!--
      <h1 id="modalLabel">Alle Fragen &amp; Informationen</h1>
			-->
      {{#each questions}}
        <h2>{{index}}. {{label}}</h2>
        <p>{{#markdown}}{{info}}{{/markdown}}</p>
      {{/each}}
        <p><a href="#" class="toggle-about">Schliessen</a></p>
    </div>

  </div>
</template>

<template name="question">
  <div id="question">
    {{#with question=question}}
      <div id="header">
        <span class="sr-only">{{_ "question"}} </span><span id="question-index">{{index}}</span>
        <button type="button" id="toggle-favorite" class="btn {{favoriteActive}}"><span class="sr-only">{{_ "favorite"}}</span></button>
        <a id="show-all-questions" class="toggle-about" href="/smartervote-content" target="_blank">{{_ "questionOverview"}}</a>
        <span id="mobile-score">{{proPercent}}% pro</span>
        <br>
        
        
        <label for={{question._id}} class="control-label">
          {{{question.label}}}
        </label>
        {{#if question.info}}
          <div class="info">
            {{#if showInfo}}
            <div class="hideInfo">
              {{#markdown}}{{question.info}}{{/markdown}}
              <br><a href="#">{{_ "lessInformation"}}</a>
            </div>
            {{else}}
            <a href="#" class="showInfo">{{_ "moreInformation"}} <b class="caret"></b></a>
            {{/if}}
          </div>
        {{/if}}
      </div>

      <div class="footer">
        <div class="answers control-section">
          <button type="button" class="max {{answerButtonActive true}} btn btn-default">
            <span>{{maxLabel}}</span>
            {{maxLabelAffix}}
          </button>
          <br>
          <button type="button" class="min {{answerButtonActive false}} btn btn-default">
            <span>{{minLabel}}</span>
            {{minLabelAffix}}
          </button>
        </div>
        {{> slider}}
        
        <div id="question-navigation" class="control-section">
          <button type="button" id="back" class="btn btn-default"><span>{{_ "back"}}</span></button>
          <button type="button" id="gotoEvaluation" class="btn btn-default">{{_ "evaluation"}}</button>
          <button type="button" id="next" class="btn btn-default"><span>{{_ "next"}}</span></button>
        </div>
        
        <button type="button" id="reset" class="btn btn-danger">{{_ "deleteAllAnswers"}}</button>
      </div>
    {{/with}}
  </div>
</template>

<template name="slider">
  <div class="at-nouislider control-section">
    <div class="nouislider-container">
      <span class="nouislider-label">{{_ "totalyIrrelevant"}}</span>
      <div id="nouislider" class="nouislider"></div>
      <span class="nouislider-label">{{_ "veryImportant"}}</span>
    </div>
  </div>
</template>


<template name="evaluation">
<div id="evaluation">
  <div id="question-navigation" class="control-section">
    <button type="button" id="gotoQuestions" class="btn btn-default">{{_ "gotoQuestions"}}</button>
  </div>
  
  <div class="final-score">
    <h2>{{_ "yourScore"}}:</h2>
    <span>{{proPercent}}% pro</span>
  </div>

  <div class="sharing">
    {{#with visit=visit}}
    <h2>{{_ "shareYourScore"}}:</h2>
    <div class="preview-wrapper">
      <div class="share-buttons-wrapper">
        {{>shareit shareData}}
        <a class="url-copy" href="/myBubbles/{{visit._id}}" target='_blank'><i class="fa fa-link"></i></a>
      </div>
      <img id="mybubbles-preview" title="Rechts klicken, um das Bild herunterzuladen">
    </div>
    {{/with}}
  </div>
	
  {{#if showCreateAccount}}
  <div class="account">
    <h2>{{_ "createAccount"}}:</h2>
    {{> loginButtons}}
  </div>
  {{else}}
  <div class="account">
    {{> loginButtons}}
  </div>
  {{/if}}

  <div class="topics">
    <h2>{{_ "whereDoYouStand"}}</h2>
    {{#each topics}}
    <button type="button" class="topic {{topicCSS}} btn btn-default">
      <strong>{{title}}</strong> ({{pp}} %) 
    </button>
    {{/each}}
    <button type="button" id="mobile-content-toggle-topics" class="mobile-content-toggle"><i class="fa fa-eye"></i> Ansehen</button>
  </div>
  
  {{#if hasPublishedVisits}}
  <div class="compare">
    <h2>{{_ "compareScoreWith"}}:</h2>
    {{#each publishedVisits}}
      <button type="button" class="person-of-interest {{personCSS}} btn btn-default">
        <strong>{{name}}</strong> ({{savedProPercent}}% pro)
      </button>
    {{/each}}
    <button type="button" id="mobile-content-toggle-compare" class="mobile-content-toggle"><i class="fa fa-eye"></i> Ansehen</button>
  </div>
  {{/if}}
</div>
</template>
