<template name="smartervote">
  <div id="smartervote">
    <div id="app-header">
      Logo  <button class="site-menu-toggle">Menü</button>
      {{> languageSwitcher}}
    </div>
    
    <div id="bubbles-container"></div>
    
    <div id="content">
      {{#if showEvaluation}}
        {{> evaluation}}
      {{else}}
        {{> question}}
      {{/if}}
    </div>
    
    <div id="score-gauge">
      XX% pro
    </div>

  </div>
</template>

<template name="question">
  <div id="question">
    {{#with question=question}}
      <div id="header">
        {{index}} (fav) <a id="show-all-questions" href="/questionOverview" target="_blank">alle Fragen in der Übersicht</a><br>
        <label for={{question._id}} class="control-label">
          {{{question.label}}}
        </label>
        {{#if question.info}}
          <div class="info">
            {{#if showInfo}}
            <div class="hideInfo">
              {{{question.info}}}
              <br><a href="#">weniger Informationen</a>
            </div>
            {{else}}
            <a href="#" class="showInfo">mehr Informationen</a>
            {{/if}}
          </div>
        {{/if}}
      </div>

      <div class="footer">
        <div class="buttons control-section">
          <button type="button" class="max {{activeCSS true}} btn btn-default">
            <span>{{maxLabel}}</span>
            {{maxLabelAffix}}
          </button>
          <br>
          <button type="button" class="min {{activeCSS false}} btn btn-default">
            <span>{{minLabel}}</span>
            {{minLabelAffix}}
          </button>
        </div>
        {{> slider}}
        
        <div id="question-navigation" class="control-section">
          <button type="button" id="back" class="btn btn-default">&lt; <span>{{_ "back"}}</span></button>
          <button type="button" id="gotoEvaluation" class="btn btn-default">Auswertung</button>
          <button type="button" id="next" class="btn btn-default"><span>{{_ "next"}}</span> &gt;</button>
        </div>
        
        <button type="button" id="reset" class="btn btn-danger">alle Antworten löschen</button>
      </div>
    {{/with}}
  </div>
</template>

<template name="slider">
  <div class="at-nouislider control-section">
    <div class="nouislider-container">
      <span class="nouislider-label">total irrelevant</span>
      <div id="nouislider" class="nouislider"></div>
      <span class="nouislider-label">sehr wichtig</span>
    </div>
  </div>
</template>


<template name="evaluation">
<div id="evaluation">
  {{#with visit=visit}}
  <h2>Deine Auswertung</h2>
  <div class="text-center">
    <h2>{{visit.proPercent}}% pro</h2>
  </div>

  <hr>
  <div class="sharing" style="background-color: white;">
    <!--
    <img id="mybubbles-preview"/>
    -->
    {{>shareit shareData}}
    <a href="/myBubbles/{{visit._id}}" target='_blank'>link</a>
  </div>
  <hr>
	
  {{#if showCreateAccount}}
  <br>
  <div class="text-center">
    <p>Logge dich ein oder erstelle einen Account um deine Antworten zu speichern.</p>
    {{> loginButtons}}
  </div>
  {{/if}}

  <br>

  <h3>Wie stehtst du zu einzelnen Bereichen?</h3>
  {{#each topics}}
    <button type="button" class="topic btn btn-default">
      <span>{{this}}</span>
    </button>
  {{/each}}

  <br>
  <div class="text-center">
    <button type="button" id="gotoQuestions" class="btn btn-default">Zu den Fragen</button>
  </div>
  
  {{/with}}
</div>
</template>
