<template name="home">
<div class="jumbotron">    
  <div class="row">
    <div class="col-md-4">
      <img src="/img/logo-debattenblog.svg" alt="smartervote">
      <p>Niemand kann mit sicherheit sagen wie die Schweiz mit einem bedingungslosen Grundeinkommen aussieht. Ob du dafür oder dagegen bist hängt von deinem Menschenbild und deiner sicht auf die Wirtschaft ab. Finde heraus wo du stehst und was Andere denken.
      </p>
    </div>
    <div class="col-md-4">
      <a href="/blog">
        <img src="/img/logo-debattenblog.svg" alt="Debattenblog">
        <p>Niemand kann mit sicherheit sagen wie die Schweiz mit einem bedingungslosen Grundeinkommen aussieht. Ob du dafür oder dagegen bist hängt von deinem Menschenbild und deiner sicht auf die Wirtschaft ab. Finde heraus wo du stehst und was Andere denken.
        </p>
      </a>
    </div>
    <div class="col-md-4">
      <a href="http://expo16.ch/"><img src="/img/logo-expo16.svg" alt="Expo16"></a>
      <p>Niemand kann mit sicherheit sagen wie die Schweiz mit einem bedingungslosen Grundeinkommen aussieht. Ob du dafür oder dagegen bist hängt von deinem Menschenbild und deiner sicht auf die Wirtschaft ab. Finde heraus wo du stehst und was Andere denken.
      </p>
    </div>
  </div>
</div>
  
<div id="home" class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul>
            <li><a href="/pages/initiativtext">Initiativtext</a></li>
            <li><a href="/pages/infos-zum-grundeinkommen">Infos zum Grundeinkommen</a></li>
            <li><a href="/pages/veranstaltungen">Veranstaltungen</a></li>
            <li><a href="/pages/traegerschaft">Trägerschaft</a></li>
            <li><a href="/pages/kontakt">Kontakt</a></li>
            <li><a href="/pages/impressum">Impressum</a></li>
            <li><a href="/pages/spenden">Spenden</a></li>
            <li><a href="/pages/blog">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body panel-wizzard">
          <p>Niemand kann mit sicherheit sagen wie die Schweiz mit einem bedingungslosen Grundeinkommen aussieht. Ob du dafür oder dagegen bist hängt von deinem Menschenbild und deiner sicht auf die Wirtschaft ab.</p>
          <p>Finde heraus wo du stehst und was Andere denken.</p>
          <p class="text-center"><a class="btn btn-primary btn-lg" href="/smartervote" role="button">GO <i class="fa fa-chevron-right"></i></a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>Im Jahr 2050 ist die Existenz von jedem Menschen in der Schweiz bedingungslos gesichert: Jeder erhält ein Grundeinkommen: Egal ob jemand erwerbstätig ist oder nicht, reich oder arm, gesund oder krank, allein lebt oder in Gemeinschaft. Für die meisten Personen ist das Grundeinkommen nicht zusätzliches Geld, sondern ersetzt heutige Einkommen. Neu ist die Bedingungslosigkeit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
