<template name="home">
<div class="jumbotron container-fluid">  
  <div class="row">
    <div class="col-sm-4">
      <a href="/{{languageTag}}/smartervote"><img src="/img/PRE-smartervote.png" alt="smartervote"></a>
    </div>
    <div class="col-sm-4">
      <a href="/blog/tag/{{languageTag}}"><img src="/img/PRE-debattenblog.png" alt="Debattenblog"></a>
    </div>
    <div class="col-sm-4">
      <a href="http://expo16.ch/"><img src="/img/PRE-expo16.png" alt="Expo16"></a>
    </div>
  </div>
</div>
  
<div id="home" class="container-fluid">
  <div class="grid">
    <div class="grid-sizer col-sm-6 col-md-4 col-lg-3"></div>
  {{#each news}}
    {{> newsListItem}}
  {{/each}}
  </div>
</div>
</template>
