<template name="home">
<div id="home" class="container-fluid">
  <div class="grid">
    <div class="grid-sizer col-sm-6 col-md-4 col-lg-3"></div>
  {{#each news}}
    {{> newsListItem}}
  {{/each}}
  </div>
  
  <footer>
    Newsletter<br>
    {{> newsletterForm}}
    <br>
    <a href="/pages/kontakt">{{_ 'kontakt'}}</a> &middot;
    <a href="/pages/spenden">{{_ 'spenden'}}</a> &middot;
    <a href="/pages/medien">{{_ 'medien'}}</a> &middot;
    <a href="https://www.facebook.com/Volksinitiative-bedingungsloses-Grundeinkommen-176302792472898/" target="_blank">
      Facebook
    </a>
  </footer>
</div>
</template>
