.blog {
  padding-top: 1rem;
}

.meteor-blog-single {
  .container-fluid;
  
  .text-center {}
}

.meteor-blog-featured-image {
  .make-sm-column(3);
  .make-md-column(4);
  .make-lg-column(3);
}

.meteor-blog-regular-image {
  margin-top: 0;
  margin-bottom: 0;
}

.meteor-blog-aspect-ratio-placeholder {
  width: 100% !important;
  height: auto !important
}

.meteor-blog-post-meta {
    font-size: 0.85em;  
}

.meteor-blog-post {
  .make-sm-column(9);
  .make-md-column(8);
  .make-lg-column(6);

/*
  h1 {
    margin: 0.25em 0 0.5em;
  }
  
  p {
    margin-bottom: 1em;
  }
  
  .post-meta {
    margin-bottom: 1em;
    font-size: 0.85em;
  }
  
  @media only screen and (min-width: @screen-sm-min) {
    font-size: 1.1em;
    
    h1 {
      font-size: 1.3em;
    }
  }
  
  @media only screen and (min-width: @screen-lg-min) {
    font-size: 1.2em;
    
    h1 {
      font-size: 1.5em;
    }
  }
*/
}

.body-container .share-buttons {
  .pull-right;
  
  .btn {
    padding: 0 0 0 1em !important;
    &:hover {
      color: black !important;
    }
  }
}

#disqus_thread {
  margin-top: 2em;
}