// this is the main styling file for this page

// Webfonts
@import "webfonts.import.less";

// overwrite bootstrap variables in bootstrap/custom.bootstrap.import.less
@import "bootstrap/custom.bootstrap.output.import.less";

// Custom variables
@import "variables.import.less";

// import less/css from vendored libs
@import "lib/bs_sidedanv.import.less";

@import "viewport_border.import.less";
@import "edit_questions.import.less";
@import "smartervote.import.less";


/*
 * Common or front page styles
 */
body {
	margin: 0;
	padding: @viewport-border-width;
	
	background: #f6f6f6;
	color: black;
	
	font-family: 'Circular', sans-serif;
	line-height: 1.3;
}

h1, h2, h3, h4 {	
  border: none;
	font-family: 'Circular', sans-serif;
}


#site-header {
  margin-top: 40px;
  padding: 2em 1.5em 1.2em;
  
  border-bottom: @border-default;
}

.logo-circle {
  float: left;
  width: 2 * @font-size-logo-medium;
  height: 2 * @font-size-logo-medium;
  margin-right: 1.5em;
  
  border-radius: 50%;
  background: @color-brand;
}

.logo-text {
  font-weight: bold;
  font-size: @font-size-logo-medium;
  line-height: 1.09;
}

#site-menu {
  float: right;
  
  font-weight: bold;
  
  .languages {
    display: inline-block;
    font-size: 1.2em;
  }
}

.site-menu-toggle {
  width: 44px;
  height: 24px;
  margin: 0 1em;
  
  background: transparent url(/img/icon-menu.svg) 50% 50% no-repeat;
  background-size: contain;
  border: 0;
  
  text-indent: -9999em;
}

#main {
  
}

.jumbotron {
  padding-bottom: 1em;
  
  border-radius: 0 !important;
  border-bottom: @border-default;
  
  p {
    font-size: 1em;
  }
}

.link {
    stroke-width: 0.1px !important;
}


//fix reactive-table
.reactive-table {
	td.buttons {
		text-align: right;
	}
}
.reactive-table-navigation .page-number {
	text-align: right;
}

////////////////////////////////
// misc
.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.page-header, .page-header-small {
  border-bottom: none;
}

#spinner {
  height: 300px;
}

.btn-img {
  padding: 0;
  border: none;
  background: none;
  &:hover, &:focus, &:active {
    color: inherit !important;
    box-shadow: none;
  }
  -webkit-box-shadow: none;
  box-shadow: none;
}

.a-unstyled {
	text-decoration: none;
	&:hover, &:active {
		text-decoration: none;
	}
}

.text-color {
	color: @text-color;
	&:hover, &:active {
		color: @text-color;
	}
}

.pointer {
  cursor: pointer;
}
