// Webfonts
@import "webfonts.import.less";

// overwrite bootstrap variables in bootstrap/custom.bootstrap.import.less
@import "bootstrap/custom.bootstrap.output.import.less";

// Custom variables
@import "variables.import.less";

// Admin
@import "edit_questions.import.less";
// import less/css from vendored libs
@import "lib/bs_sidedanv.import.less";

// Common/main site
@import "viewport_border.import.less";
@import "overlay-menu.import.less";
@import "article.import.less";
@import "helpers.import.less";

// Smartervote app
@import "scrollbar.import.less";
@import "slider.import.less";
@import "smartervote.import.less";


/*
 * Common or front page styles
 */
body {
	margin: 0;
	padding: @viewport-border-width;
	
	background: #f6f6f6;
	color: black;
	
	font-family: 'Circular', sans-serif;
	line-height: 1.3;
}

h1, h2, h3, h4 {	
  border: none;
  color: black;
	font-family: 'Circular', sans-serif;
}

/*
 * Site header, logo, menu toggler
 */
#site-header {
  margin-top: 40px;
  padding: 2em 1.5em 1.2em;
  
  border-bottom: @border-default;
}

#site-brand {
  a {
    color: black;
    
    &:hover {
      text-decoration: none;
    }
  }
}

.logo-circle {
  float: left;
  width: 2 * @font-size-logo-medium;
  height: 2 * @font-size-logo-medium;
  margin-right: 1.5em;
  
  border-radius: 50%;
  background: @color-brand;
}

.logo-text {
  font-weight: bold;
  font-size: @font-size-logo-medium;
  line-height: 1.09;
}

#site-menu {
  float: right;
  
  font-weight: bold;
  
  .languages {
    display: inline-block;
    font-size: 1.2em;
  }
}

.site-menu-toggle {
  width: 44px;
  height: 24px;
  margin: 0 1em;
  
  background: transparent url(/img/icon-menu.svg) 50% 50% no-repeat;
  background-size: contain;
  border: 0;
  
  text-indent: -9999em;
}


/*
 * Main content
 */
.container {
  max-width: 48em; // make it readable
}

#main { }


/*
 * Logos on homepage
 */
.jumbotron {
  margin: 0 3em 2em;
  padding-bottom: 1em;
  
  border-radius: 0 !important;
  border-bottom: @border-default;
  
  p {
    font-size: 1em;
  }
  
  .col-md-4 {
    padding: 0 3vw;
  }
}