/*
 * Front pages / common variables
 */
@viewport-border-width: 0.9em;

@font-size-logo-min: 1.62rem;
@font-size-logo-medium: 2.5rem;
@font-size-logo-large: 3.4rem;

@line-height-default: 1.3;
@line-height-logo: 1.09;

@padding-body-horizontal: 1.6rem;
@padding-body-vertical: 1.5rem;

@color-brand: #ecb354;
@color-menu-bg: #c6c6c6;

@color-evaluation: #f0a6fe;
@color-placeholder: #777;

@border-default: 1px solid rgba(0,0,0, 0.4);


/*
 * Smartervote app variables
 */
@controls-vertical-padding-base: 1.5vh;
@controls-vertical-padding-min:  1rem;

@height-answers:                 10vh;
@height-slider:                  4em * 1.3; // Four line heights
@height-question-nav:            6vh;
@height-reset-button:            4vh;

@transition-duration-dim:        0.2s;