/*!
 * smartervote/BGE webfonts
 * Achtung!!! Lizenzen!!!
 */

@font-face {
  font-family: 'Circular';
  font-weight: normal;
  font-style: normal;
  src: url('/webfonts/circular-NOlicense-reg.woff') format('woff');
}

@font-face {
  font-family: 'Circular';
  font-weight: bold;
  font-style: normal;
  src: url('/webfonts/circular-NOlicense-bold.woff') format('woff');
}