#wizzard {
  .pageOverview {
    color: white;
    i { color: grey; }
    .active {
      .activeCircle { 
        color: @brand-info; 
        font-size: 2.5em;
        top: -4px;
        left: -1.5px;
      }
    }
    .answered {
      i { color: @brand-success; }
    }
  }
}
