<template name="questionNetwork">
  <div id="questionNetwork">
    {{#with visit=visit}}
    <div class="left">
      <div id="bubbles"></div>
    </div>
    <div class="devider"></div>
    <div class="right">
      <div class="content">
        <div class="question">
          {{#with question}}
            {{#with visit=../visit question=. answer=(answerForQuestion ../visit._id _id)}}

            <form id="questionForm" class="questionAutoform" novalidate="novalidate">
              {{#if eq question.type 'scale'}}
                {{> scaleQuestion}}
              {{/if}}
              {{#if eq question.type 'boolean'}}
                {{> booleanQuestion}}
              {{/if}}
              <button type="button" id="back" class="btn btn-default">Zurück</button>
              <button type="button" id="next" class="btn btn-default pull-right">Weiter</button>
            </form>

            {{/with}}
          {{else}}
            please select a question
          {{/with}}
        </div>
      </div>
    </div>
    {{/with}}
  </div>
</template>


<template name="scaleQuestion">
  <div class="scaleQuestion form-group">
    <label for={{question._id}} class="control-label">
      {{question.label}}
    </label>
    <div class="info">
      {{#if showInfo}}
      <div class="hideInfo">
        {{{question.info}}}
      </div>
      {{else}}
      <a href="#" class="showInfo">mehr Informationen</a>
      {{/if}}
    </div>
    <div class="at-nouislider">
      <div class="nouislider-container">
        <span class="nouislider-label">{{question.minLabel}}</span>
        <div class="nouislider"></div>
        <span class="nouislider-label">{{question.maxLabel}}</span>
      </div>
    </div>
  </div>
</template>

<template name="booleanQuestion">
  <div class="booleanQuestion form-group">
    <label for={{question._id}} class="control-label">
      {{question.label}}
    </label>
    <div class="info">
      {{#if showInfo}}
      <div class="hideInfo">
        {{{question.info}}}
      </div>
      {{else}}
      <a href="#" class="showInfo">mehr Informationen</a>
      {{/if}}
    </div>
    <div class="buttons">
      <button type="button" class="yes {{activeCSS true}} btn btn-success btn-lg">Ja</button>
      <button type="button" class="no {{activeCSS false}} btn btn-primary btn-lg">Nein</button>
    </div>
  </div>
</template>
