<template name="smartervote">
  <div id="smartervote">
    <div id="bubbles">
      <div id="bubbles-container"></div>
    </div>
    <div id="content">
      <div class="languages">
        {{#each languageKeys}}
        <span class="pointer text-uppercase">{{this}}</span>&nbsp;
        {{/each}}
      </div>
      {{#if showScore}}
        <div class="question">
          {{> score}}
        </div>
      {{else}}
        {{#with question=question}}
          <div id="header">
            {{index}}<br>
            <label for={{question._id}} class="control-label">
              {{{question.label}}}
            </label>
            {{#if question.info}}
              <div class="info">
                {{#if showInfo}}
                <div class="hideInfo">
                  {{{question.info}}}
                  <br><a href="#">weniger Informationen</a>
                </div>
                {{else}}
                <a href="#" class="showInfo">mehr Informationen</a>
                {{/if}}
              </div>
            {{/if}}
          </div>

          <div class="footer">
            <div class="buttons">
              <button type="button" class="yes {{activeCSS true}} btn btn-success btn-lg">{{question.maxLabel}}</button>
              <br>
              <button type="button" class="no {{activeCSS false}} btn btn-primary btn-lg">{{question.minLabel}}</button>
            </div>
            {{> slider}}
            <button type="button" id="back" class="btn btn-default">{{_ "back"}}</button>
            <button type="button" id="next" class="btn btn-default pull-right">{{_ "next"}}</button>
            <div class="text-center">
              <h2>XX% pro</h2>
              <a href="/questionOverview" target="_blank">alle Fragen in der Übersicht</a>
              <br><br>
              <button type="button" id="reset" class="btn btn-danger">alle Antworten löschen</button>
              <br>
              <button type="button" id="gotoScore" class="btn btn-default">Auswertung zeigen</button>
            </div>
          </div>
        {{/with}}
      {{/if}}
    </div>
    <div id="chain"></div>
  </div>
</template>


<template name="slider">
  <div class="at-nouislider">
    <div class="nouislider-container">
      <span class="nouislider-label">total irrelevant</span>
      <div id="nouislider" class="nouislider"></div>
      <span class="nouislider-label">sehr wichtig</span>
    </div>
  </div>
</template>
