<template name="wizzard">
<div id="wizzard" class="container-fluid">
  {{#HammerTouchArea gestureMap=templateGestures}}
  {{#with visit=visit}}
    <div class="row">
      <div class="col-md-2 hidden-xs">
      </div>
      <div class="col-md-8 col-xs-9">
        <div class="controls-row">
          <div class="buttons">
            {{#if hasAnswers}}
            <button type="button" id="reset" class="btn btn-primary">Reset</button>
            {{/if}}
          </div>
          <div class="pageOverview pull-right">
            {{#each pages}}
            <span class="fa-stack fa-lg cursorPointer jumpToPage {{css}}">
              <i class="fa fa-circle fa-stack-2x activeCircle"></i>
              <i class="fa fa-circle fa-stack-2x"></i>
              <strong class="fa-stack-1x">{{index}}</strong>
            </span>
            {{/each}}
          </div>
        </div>

        <div class="questions">
          {{#each questionsForPage}}
          <div class="question">
            {{#with visit=../visit question=. answer=(answerForQuestion ../visit._id _id)}}
              {{#autoForm doc=doc schema=answerFormSchema id=question._id type="normal" class="questionAutoform" fields="value"}}
                {{#each afFieldNames}}
                  {{> afQuickField name=this.name options=afOptionsFromSchema}}
                {{/each}}
              {{/autoForm}}
            {{/with}}
          </div>
          <br>
          {{else}}
            Question not found, sorry!
          {{/each}}
          {{#unless isOnLastPage}}
            <button type="button" id="next" class="btn btn-primary pull-right">Next <i class="fa fa-chevron-right"></i></button>
          {{/unless}}
          {{#unless isOnFirstPage}}
            <button type="button" id="back" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Previous</button>
          {{/unless}}
        </div>

      </div>
      <div class="col-md-2 col-xs-1 text-center lastCol">
        {{> progressBar progress=visit.progress score=visit.score}}
      </div>
    </div>
  {{/with}}
  {{/HammerTouchArea}}
</div>
</template>
